


.title {
    font-size: 3.5rem;
    font-weight: 800;
    text-decoration: underline;
    padding-bottom: 2vh;
    padding-left: 2vw;
    margin-bottom: 5vh;
    color: var(--primary-black);
}

.content {
    font-weight: 400;
    line-height: 1.25;
    font-size: 1.4rem;
    word-spacing: 3px;
    padding-left: 2vw;
    position: relative;
    text-align: justify;


}